.searchWrapper {
  padding: 10px 14px 16px;
  position: relative;
  background: #fff;
}

.searchWrapper span {
  width: 12px;
  height: 12px;
  position: absolute;
  left: 31px;
  top: 53%;
  transform: translateY(-50%);
}

.searchWrapper span svg {
  display: block;
}

.searchWrapper input {
  width: 100%;
  border: 1px solid #ebebeb;
  box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.15);
  border-radius: 8px;
  height: 40px;
  padding-left: 44px;
  color: #232323;
  font-size: 12px;
  font-weight: 400;
}

input:focus {
  outline: none;
}

.chatListWrapper {
  background: #fff;
  padding: 5px 2px 43px 8px;
  overflow-x: hidden;
  overflow-y: auto;
  height: 477px;
  border-radius: 0px 0px 6px 6px;
}

@media screen and (max-height: 700px) {
  .chatListWrapper {
    height: 377px;
  }
}

.chatListWrapper::-webkit-scrollbar-thumb {
  border-radius: 5px !important;
  background: #bfbfbf;
}

.chatListWrapper::-webkit-scrollbar-track {
  background: #f5fcf9;
}

.chatListWrapper::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}

.numSnooze {
  background-color: #1363df;
  color: #fff;
  height: 20px;
  font-size: 12px;
  line-height: 18px;
  display: inline-block;
  border-radius: 14px;
  padding: 2px 6px;
  margin-left: 4px;
}
.label {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 28px;
  color: #232323;
  margin-left: 8px;
}
/* .upChatClose {
  display: flex;
  align-items: center;
} */

.upChatClose {
  display: flex;
  align-items: center;
  position: absolute;
  left: 0;
  bottom: 0;
  padding: 7px 16px;
  gap: 8px;
  cursor: pointer;
  width: 100%;
  background: rgb(206 204 204 / 50%);
  backdrop-filter: blur(5px);
  border-radius: 0px 0px 6px 6px;
  border-top: 0.8px solid #cecccc;
}
