
.container {
    padding-left: 7px;
    padding-right: 13px;
    padding-bottom: 16px;
    cursor: pointer;
    border-radius: 8px;
    display: flex;
    justify-content: space-between;
    
    align-items: center;
}

.container > div{
    display: flex;
    align-items: center;
}

.containerInnerHeader{
    gap: 8px;
    align-items: flex-start !important;
}

.avatar {
    width: 40px;
    max-width: 40px;
    border-radius: 50%;
}

.avatarDetails {
    font-size: .8vw;
    font-weight: 600;
}

.title {
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    color: #232323;
}